@import '~sass/base/variables';

* {
  text-align: center;
}

.titulo {
  font-size: 48px;
  font-weight: bold;
  margin: 90px 0 20px;
}

.subtitulo {
  font-size: 21px;
  font-weight: 300;
}

img {
  max-width: 120px;
  margin: 80px auto 0;
  display: block;
}

@media (min-width: $screen-sm) {
  .subtitulo {
    font-size: 27px;
  }

  .titulo {
    font-size: 120px;
  }

  img {
    max-width: 150px;
  }
}
@import '~sass/base/variables';

* {
  text-align: center;
}

.titulo {
  font-size: 48px;
  font-weight: bold;
  margin: 90px 0 20px;
}

.subtitulo {
  font-size: 21px;
  font-weight: 300;
}

img {
  max-width: 120px;
  margin: 80px auto 0;
  display: block;
}

@media (min-width: $screen-sm) {
  .subtitulo {
    font-size: 27px;
  }

  .titulo {
    font-size: 120px;
  }

  img {
    max-width: 150px;
  }
}
