
// COLORS

$bg-color:    #0C1632;
$text-color:  #fff;

// FONT

$font-family-default: 'Barlow', sans-serif;

// RESPONSIVE

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// PROGRESS

$progress-height: 5px;
$progress-bg:     #00aeef;
